*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.filter {
  justify-content: center;
  align-items: baseline;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
}

table h1 {
  background-color: aqua;
}

td,
th {
//   border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}